<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>

</head>
<body class="form-group">
<h2>My Recipes!</h2>
<table class="table-striped">
    <tr>
        <th>ID</th>
        <th>Description</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">123</td>
        <td th:text="${recipe.description}">Tasty Goodnees</td>
    </tr>
</table>
</body>
</html>